<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<!--https://code.jquery.com/-->
<!--http://stackoverflow.com/a/24070373/548473-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous" async>
</script>
<body>
<html>
<body>
<section>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Flag</th>
            <th/>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type="java.util.List"*/-->
        <!--/*@thymesVar id="user" type="ru.javaops.masterjava.persist.model.User"*/-->
        <tr th:each="user,iter: ${users}">
            <td th:text="${iter.count}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:utext="${user.email}"></td>
            <td th:text="${user.flag}"></td>
            <td><input type="checkbox" th:value="|${user.fullName} <${user.email}>|"/></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <form enctype="multipart/form-data" action="send" method="post" id="form">
        <input id="users" name="users" hidden="hidden">

        <p><input id="subject" name="subject" placeholder="Subject" size="30" /></p>
        <p><textarea id="body" name="body" placeholder="Mail body" cols=75 rows=5 ></textarea></p>
        <p><input type="file" name="fileToUpload" id="fileToUpload" /></p>

        <p><button type="submit" onclick="send()" >Send</button></p>
    </form>
    <div id="result"></div>
</section>
<script type="text/javascript">
    function send() {
        $('#result').html("Sending ...");
        var users = $("input:checkbox:checked").map(function () {
            return this.value;
        }).get();
        $.ajax({
            type: "POST",
            url: "send",
            data: "users=" + users + "&subject=" + $("#subject").val() + "&body=" + $("#body").val(),
            success: function (result) {
                $('#result').html(result);
            }
        });
    }
//    function getUsers() {
//        var users = $("input:checkbox:checked").map(function () {
//            return this.value;
//        }).get();
//        $('#users').val(users);
//    }
</script>
</body>
</html>